<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockify - easily block people from your Spotify collab lists!</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <style>header{
        padding: 3rem;
    }</style>
</head>
<body class="">

      <div class="hero" data-theme="dark">
        <nav class="container-fluid">
          <ul>
            <li><a href="./" class="contrast" onclick="event.preventDefault()"><strong>Brand</strong></a></li>
          </ul>
          <ul>
            <li><a href="#" class="contrast" data-theme-switcher="auto">Auto</a></li>
            <li><a href="#" class="contrast" data-theme-switcher="light">Light</a></li>
            <li><a href="#" class="contrast" data-theme-switcher="dark">Dark</a></li>
          </ul>
        </nav>
        <header class="container">
          <hgroup>
            <h1>Blockify</h1>
            <h2>Easily block people from your Spotify collab lists!</h2>
          </hgroup>
          <p><a href="#" role="button" onclick="event.preventDefault()">Add it now!</a></p>
        </header>
      </div>
</body>
</html>