<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockify - Spotify Access Management made easy!</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <style>
        header {
            padding: 3rem;
        }
    </style>
</head>

<body class="">

    <div class="hero" data-theme="dark">
        <nav class="container-fluid">
            <ul>
                <li><a href="./" class="contrast" onclick="event.preventDefault()"><strong>Blockify</strong></a></li>
            </ul>
            <ul>
                <li><a href="https://github.com/MoPaMo/blockify" class="contrast">GitHub</a></li>
                <li><a href="/login" class="contrast">Add it now</a></li>
            </ul>
        </nav>
        <header class="container">
            <hgroup>
                <h1>Blockify</h1>
                <h2>Spotify Access Management made easy</h2>
            </hgroup>
            <p><a href="/login" role="button">Add it now!</a></p>
        </header>
    </div>
</body>

</html>